<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Login</title>

    <link rel="stylesheet" href="styles/default_login.css">

</head>

    <body>
        <div class="todos-wrap">
            <div class="todos-login-header">
                <h1 class="todos-login-header-title">todos</h1>
            </div>
            <form class="todos-login-form" action="/attempt" method="post">
                <input name="user" class="todos-login-form_log" placeholder="login" aria-label="login" required>
                <input name="password" class="todos-login-form_pass" type="password" placeholder="password" aria-label="password" required>
                <div class="todos-login-form_sub-wrap">
                    <input class="todos-login-form_sub-target" type="submit" value="" aria-label="submit">
                    <div class="todos-login-form_sub-icon"></div>
                </div>
            </form>
            <!--<button class="todos-registration" aria-label="registration"><a class="todos-registration_ref" href="/registration">registration</a></button>-->
            <a class="todos-registration_ref" href="/registration"><button class="todos-registration" aria-label="registration">registration</button></a>
        </div>
        </div>
    </body>

</html>
